fastapi
uvicorn
jinja2
sqlalchemy
python-dotenv
passlib[bcrypt]
requests
colorama
anyio
bcrypt
certifi
charset_normalizer
click
greenlet
h11
idna
itsdangerous
markupsafe
pydantic
pydantic_core
python-multipart
sniffio
starlette
typing_extensions
typing-inspection
urllib3
